<div class="parallax-container">
        <div class="parallax"><img src="background4.jpg" style= "opacity: 0.5;" ></div>
         <br>
         <br>
         <div class = "row">
             <div class = "col s6 offset-s3">
         <h3>Realtor Magazine Scraper</h3>
            </div>
         </div>
         <br>
         <br>
         <div class = "card">
             {{#each notes}}
            <p>{{id}}</p>
            {{/each}}
             </div>
         <div class="parallax-container">
        <div class="parallax"><img src="background4.jpg" style= "opacity: 0.5;" ></div>